üìù **Author:** Amirhossein Heydari - üìß **Email:** AmirhosseinHeydari78@gmail.com - üìç **Linktree:** [linktr.ee/mr_pylin](https://linktr.ee/mr_pylin)

---

# Type Conversion
   - Type conversion refers to the process of converting one data type into another
   - Types of conversion:
      - ‚ö†Ô∏è Implicit Type Conversion (Automatic)
         - Python automatically converts one data type to another without the need for user intervention
         - This usually happens when performing operations between different data types where one type can be safely converted to another
      - ‚úÖ Explicit Type Conversion (Manual)
         - In explicit type conversion (also called `type casting`), the user manually converts one data type to another using predefined functions.

<table style="margin: 0 auto;">
   <thead>
      <tr>
         <th>Function</th>
         <th>Description</th>
         <th>Example</th>
      </tr>
   </thead>
   <tbody>
      <tr>
         <td><code>int()</code></td>
         <td>Converts to integer (from float, string)</td>
         <td><code>int(3.8)</code> ‚Üí <code>3</code></td>
      </tr>
      <tr>
         <td><code>float()</code></td>
         <td>Converts to float (from int, string)</td>
         <td><code>float('10.5')</code> ‚Üí <code>10.5</code></td>
      </tr>
      <tr>
         <td><code>str()</code></td>
         <td>Converts to string (from int, float, list)</td>
         <td><code>str(15)</code> ‚Üí <code>'15'</code></td>
      </tr>
      <tr>
         <td><code>list()</code></td>
         <td>Converts to a list (from tuple, string)</td>
         <td><code>list('abc')</code> ‚Üí <code>['a', 'b', 'c']</code></td>
      </tr>
      <tr>
         <td><code>tuple()</code></td>
         <td>Converts to a tuple (from list, string)</td>
         <td><code>tuple([1, 2])</code> ‚Üí <code>(1, 2)</code></td>
      </tr>
      <tr>
         <td><code>bool()</code></td>
         <td>Converts to a boolean (from any type)</td>
         <td><code>bool(0)</code> ‚Üí <code>False</code></td>
      </tr>
   </tbody>
</table>

---

‚úçÔ∏è **Key Considerations:**
   - Data loss:
      - Explicit type conversion might lead to data loss, such as when converting from a float to an integer (the decimal part is truncated).
   - TypeErrors:
      - Incompatible types might raise errors during type casting, e.g., trying to convert a string containing letters to an integer.

üìù **Docs**:
   - Functions: [docs.python.org/3/library/functions.html](https://docs.python.org/3/library/functions.html)
   - stdtypes: [docs.python.org/3/library/stdtypes.html](https://docs.python.org/3/library/stdtypes.html)

## Implicit Type Conversion

In [1]:
# integer to float
a = 5
b = 2.5
result = a + b

# log
print(f"result       : {result}")
print(f"type(result) : {type(result)}")

result       : 7.5
type(result) : <class 'float'>

In [2]:
# boolean to integer
a = True
b = False
result = a + b

# log
print(f"result       : {result}")
print(f"type(result) : {type(result)}")

result       : 1
type(result) : <class 'int'>

In [3]:
# integer to string (during string concatenation)
age = 25
result = f"I am {age} years old."

# log
print(f"result       : {result}")
print(f"type(result) : {type(result)}")

result       : I am 25 years old.
type(result) : <class 'str'>

## Explicit Type Conversion

In [9]:
# integer to string
num = 100
num_str = str(num)

# log
print(f"num           : {num}")
print(f"type(num)     : {type(num)}")
print(f"num_str       : {num_str}")
print(f"type(num_str) : {type(num_str)}")

num           : 100
type(num)     : <class 'int'>
num_str       : 100
type(num_str) : <class 'str'>

In [10]:
# string to integer
# conversion works if the string represents a valid number. otherwise, it raises a `ValueError`
num_str = "50"
num = int(num_str)

# log
print(f"num_str       : {num_str}")
print(f"type(num_str) : {type(num_str)}")
print(f"num           : {num}")
print(f"type(num)     : {type(num)}")

num_str       : 50
type(num_str) : <class 'str'>
num           : 50
type(num)     : <class 'int'>

In [11]:
# float to int (decimal part is truncated)
num_float = 12.76
num_int = int(num_float)  

# log
print(f"num_float       : {num_float}")
print(f"type(num_float) : {type(num_float)}")
print(f"num_int         : {num_int}")
print(f"type(num_int)   : {type(num_int)}")

num_float       : 12.76
type(num_float) : <class 'float'>
num_int         : 12
type(num_int)   : <class 'int'>

In [13]:
# integer to float
num = 5
num_float = float(num)

# log
print(f"num             : {num}")
print(f"type(num)       : {type(num)}")
print(f"num_float       : {num_float}")
print(f"type(num_float) : {type(num_float)}")

num             : 5
type(num)       : <class 'int'>
num_float       : 5.0
type(num_float) : <class 'float'>

In [23]:
# join list elements into a string with separator
items = ['apple', 'banana', 'cherry']
items_str = ', '.join(items)  

# log
print(f"items           : {items}")
print(f"type(items)     : {type(items)}")
print(f"len(items)      : {len(items)}")
print(f"items_str       : {items_str}")
print(f"type(items_str) : {type(items_str)}")
print(f"len(items_str)  : {len(items_str)}")

items           : ['apple', 'banana', 'cherry']
type(items)     : <class 'list'>
len(items)      : 3
items_str       : apple, banana, cherry
type(items_str) : <class 'str'>
len(items_str)  : 21

In [24]:
# string to list of characters
sentence = "Hello world"
chars_list = list(sentence)

# log
print(f"sentence         : {sentence}")
print(f"type(sentence)   : {type(sentence)}")
print(f"len(sentence)    : {len(sentence)}")
print(f"chars_list       : {chars_list}")
print(f"type(chars_list) : {type(chars_list)}")
print(f"len(chars_list)  : {len(chars_list)}")

sentence         : Hello world
type(sentence)   : <class 'str'>
len(sentence)    : 11
chars_list       : ['H', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd']
type(chars_list) : <class 'list'>
len(chars_list)  : 11

In [25]:
# list to tuple
my_list = [1, 2, 3]
my_tuple = tuple(my_list)

# log
print(f"my_list        : {my_list}")
print(f"type(my_list)  : {type(my_list)}")
print(f"len(my_list)   : {len(my_list)}")
print(f"my_tuple       : {my_tuple}")
print(f"type(my_tuple) : {type(my_tuple)}")
print(f"len(my_tuple)  : {len(my_tuple)}")

my_list        : [1, 2, 3]
type(my_list)  : <class 'list'>
len(my_list)   : 3
my_tuple       : (1, 2, 3)
type(my_tuple) : <class 'tuple'>
len(my_tuple)  : 3

In [26]:
# tuple to list
my_tuple = (10, 20, 30)
my_list = list(my_tuple)  

# log
print(f"my_tuple       : {my_tuple}")
print(f"type(my_tuple) : {type(my_tuple)}")
print(f"len(my_tuple)  : {len(my_tuple)}")
print(f"my_list        : {my_list}")
print(f"type(my_list)  : {type(my_list)}")
print(f"len(my_list)   : {len(my_list)}")

my_tuple       : (10, 20, 30)
type(my_tuple) : <class 'tuple'>
len(my_tuple)  : 3
my_list        : [10, 20, 30]
type(my_list)  : <class 'list'>
len(my_list)   : 3

In [17]:
# string to float
num_str = "3.14159"
num_float = float(num_str)

# log
print(f"num_str         : {num_str}")
print(f"type(num_str)   : {type(num_str)}")
print(f"num_float       : {num_float}")
print(f"type(num_float) : {type(num_float)}")

num_str         : 3.14159
type(num_str)   : <class 'str'>
num_float       : 3.14159
type(num_float) : <class 'float'>

In [18]:
# boolean to integer (True ‚Üí 1, False ‚Üí 0)
is_valid = True
num = int(is_valid)

# log
print(f"is_valid       : {is_valid}")
print(f"type(is_valid) : {type(is_valid)}")
print(f"num            : {num}")
print(f"type(num)      : {type(num)}")

is_valid       : True
type(is_valid) : <class 'bool'>
num            : 1
type(num)      : <class 'int'>

In [21]:
# 0 is False, non-zero values are True
num = 0
result = bool(num)  

# log
print(f"num          : {num}")
print(f"type(num)    : {type(num)}")
print(f"result       : {result}")
print(f"type(result) : {type(result)}")

num          : 0
type(num)    : <class 'int'>
result       : False
type(result) : <class 'bool'>

In [30]:
my_dict = {'a': 1, 'b': 2, 'c': 3}

# dictionary keys to list
keys_list = list(my_dict.keys())

# dictionary values to list
values_list = list(my_dict.values())

# log
print(f"my_dict           : {my_dict}")
print(f"my_dict.keys()    : {my_dict.keys()}")
print(f"my_dict.values()  : {my_dict.values()}")
print(f"type(my_dict)     : {type(my_dict)}")
print(f"len(my_dict)      : {len(my_dict)}")
print('-' * 50)
print(f"keys_list         : {keys_list}")
print(f"type(keys_list)   : {type(keys_list)}")
print(f"len(keys_list)    : {len(keys_list)}")
print(f"values_list       : {values_list}")
print(f"type(values_list) : {type(values_list)}")
print(f"len(values_list)  : {len(values_list)}")

my_dict           : {'a': 1, 'b': 2, 'c': 3}
my_dict.keys()    : dict_keys(['a', 'b', 'c'])
my_dict.values()  : dict_values([1, 2, 3])
type(my_dict)     : <class 'dict'>
len(my_dict)      : 3
--------------------------------------------------
keys_list         : ['a', 'b', 'c']
type(keys_list)   : <class 'list'>
len(keys_list)    : 3
values_list       : [1, 2, 3]
type(values_list) : <class 'list'>
len(values_list)  : 3

In [34]:
# complex number to string
complex_num = complex(3, 4)  # complex_num = 3+4j
complex_str = str(complex_num)

# log
print(f"complex_num       : {complex_num}")
print(f"type(complex_num) : {type(complex_num)}")
print(f"complex_str       : {complex_str}")
print(f"type(complex_str) : {type(complex_str)}")

complex_num       : (3+4j)
type(complex_num) : <class 'complex'>
complex_str       : (3+4j)
type(complex_str) : <class 'str'>

In [36]:
# bytes to string
byte_data = b'Hello'
str_data = byte_data.decode('utf-8')

# log
print(f"byte_data       : {byte_data}")
print(f"type(byte_data) : {type(byte_data)}")
print(f"len(byte_data)  : {len(byte_data)}")
print(f"str_data        : {str_data}")
print(f"type(str_data)  : {type(str_data)}")
print(f"len(str_data)   : {len(str_data)}")

byte_data       : b'Hello'
type(byte_data) : <class 'bytes'>
len(byte_data)  : 5
str_data        : Hello
type(str_data)  : <class 'str'>
len(str_data)   : 5

In [37]:
# string to bytes
str_data = "Hello"
byte_data = str_data.encode('utf-8')

# log
print(f"str_data        : {str_data}")
print(f"type(str_data)  : {type(str_data)}")
print(f"len(str_data)   : {len(str_data)}")
print(f"byte_data       : {byte_data}")
print(f"type(byte_data) : {type(byte_data)}")
print(f"len(byte_data)  : {len(byte_data)}")

str_data        : Hello
type(str_data)  : <class 'str'>
len(str_data)   : 5
byte_data       : b'Hello'
type(byte_data) : <class 'bytes'>
len(byte_data)  : 5